<div class="card bg-dark text-white my-4">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form>
      <!-- ISBN -->
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Isbn</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.isbn" name="isbn">
        </div>
      </div>
      <!-- Titlte -->
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Title</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.title" name="title">
        </div>
      </div>
      <!-- Subtitle -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Subtitle</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.subtitle" name="subtitle">
        </div>
      </div>
      <!-- Author -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Author</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.author" name="author">
        </div>
      </div>
      <!-- Published -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Published</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.published" name="published">
        </div>
      </div>
      <!-- Pages -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Pages</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.pages" name="pages">
        </div>
      </div> 
      <!-- Description -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.description" name="description">
        </div>
      </div>
      <!-- Website -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Website</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.website" name="website">
        </div>
      </div>
      <!-- Status -->
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Status</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="book.status" name="status">
        </div>
      </div>      
      

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!book.id else elseBlock">Create</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Update</button>
          </ng-template>
        </div>
      </div>

    </form>
  </div>
</div>
